@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-shift {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  33% {
    transform: translate(10%, 10%) rotate(120deg);
  }
  66% {
    transform: translate(-10%, 5%) rotate(240deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.gradient-shape {
  filter: blur(100px);
  mix-blend-mode: screen;
  animation: gradient-shift 20s ease-in-out infinite;
  opacity: 0.5;
}

@keyframes fade-alternate {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-alternate-reverse {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.animate-fade-alternate {
  animation: fade-alternate 10s ease-in-out infinite;
}

.animate-fade-alternate-reverse {
  animation: fade-alternate-reverse 10s ease-in-out infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

@keyframes gradient-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(25%);
  }
}

.animate-gradient-x {
  animation: gradient-x 1s ease forwards;
}